$color-primario: #FF7674;;

body {
  background-color: #f0f0f0;
  color: $color-primario;
}

h1 {
    font-size: 24px;
    font-family: Balsamiq Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;

  background-color: #f0f0f0;

}
